{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="jgAboutImg">
    <div class="container-fluid mt-5 jgMidHeight">
        <div class="row">
            <div class="col-12 m-0 p-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mt-5">
                            <h1 class="jgTextLight font-weight-bold mt-5 ">We like gin - <em>A LOT</em></h1>
                            <h6 class="jgTextLight font-weight-bold mt-1">(But in a really healthy and safe way, of course.)</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 col-md-11 col-sm-11 my-3 mx-2 text-left jgBGDark opacity rounded">
                <h4 class="jgTextLight my-3"><u>About Us</u></h4>
                <div class="jgTextCopp font-weight-bold">
                    <p>We do all the drinking, so you don't have to!</p>
                    <p>Wait, no. That's not right.</p>
                    <p>We do all the drinking and give some insight into one of life's gems, so you can make safe and responsible decisions on your choice of poison.</p>
                    <p>Ah, did it again. Umm, your choice of decadent elixir.</p>
                    <p class="jgTextLight"><em>That'll do.</em></p>
                </div>
                <p class="jgTextCopp font-weight-bold">But on a serious flavour note, we really do want to see you having bagged yourself a bargain. We sloe-ly savour gins from all over the world, and give our honest opinions on only the top tier of contestants. We add a new selection of Gins every month, and as such there are deals to be had. So keep an eye out, and shop with justGin today!
                </p>
            </div>
            <div class="col-lg-6 col-md-11 col-sm-11 my-3 mx-2 jgBGDark opacity rounded">
                <h4 class="jgTextLight my-3"><u>Where You'll Find Us (Drinking)</u></h4>
                <div class="jgTextCopp font-weight-bold">
                    <ul class="list-unstyled">
                        <li><p>110 George Street</p></li>
                        <li><p>Edinburgh</p></li>
                        <li><p>Scotland</p></li>
                        <li><p>EH2 4LH</p></li>
                    </ul>
                </div>
                <h4 class="jgTextLight mt-5 mb-3"><u>The Phone We Sometimes Answer</u></h4>
                <div class="jgTextCopp font-weight-bold">
                    <p>0345 588 446</p>
                    <small>(It's Freephone - Which Means You Have More to Spend on Gin)</small>
                </div>
                <h4 class="jgTextLight mt-5 mb-3"><u>Our Email</u></h4>
                <div class="jgTextCopp font-weight-bold">
                    <p>incoherent_info@justgin.com</p>
                </div>
                <h4 class="jgTextLight mt-5 mb-3"><u>Social Media Addiction</u></h4>
                <div class="jgTextCopp font-weight-bold">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/?lang=en-gb" class="jgListLink"><i class="fab fa-twitter fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" class="jgListLink"><i class="fab fa-instagram fa-lg"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://en-gb.facebook.com/" class="jgListLink"><i class="fab fa-facebook fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 text-center">
                <a href="{% url 'products' %}" class="btn btn-warning jgBtn">Show Me Gin</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}