{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row jgHeight">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold jgTextCopp">Blog</h1>
                <h3 class="font-weight-bold jgTextDark mt-5">The Home of Reviews and Pairing Advice</h3>
            </div>
            <div class="col-12 text-center mt-5">
                <h2 class="font-weight-bold jgTextLight">Coming Soon...</h2>
            </div>
        </div>
    </div>
{% endblock %}