{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="jgBlogImg">
    <div class="container-fluid mt-5 jgBG opacity rounded">
        <div class="row jgHeight">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold jgTextCopp">Blog</h1>
                <h3 class="font-weight-bold jgTextDark mt-5">The Home of in-depth Reviews, Pairing Advice, Future Workshops... and bascially all the good stuff.</h3>
            </div>
            <div class="col-12 text-center mt-5">
                <h2 class="font-weight-bold jgTextCopp">Coming Soon...</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}