{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-6 offset-6">
                <div class="float-right jgHeight">
                    <h1 class="jgTextCopp animate__animated animate__fadeInRight animate__delay-1s">Find <em>Your</em> Tonic</h1>
                    <a href="{% url 'products' %}" class="btn btn-warning jgBtn animate__animated animate__fadeInUp animate__delay-4s">Shop Here</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}