{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-6 offset-6">
                <span class="float-right jgHeight">
                    <h1 class="jgTextLight">Find <em>Your</em> Tonic</h1>
                    <a href="" class="btn btn-warning jgBtn">Shop Here</a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}