{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container mb-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="jgContactImg">
    <div class="container-fluid mt-5">
        <div class="row jgMidHeight">
            <div class="col-12 text-center">
                <h4 class="jgTextLight">T&C's</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-6 offset-md-3 col-sm-12 jgBG opacity rounded">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h5 class="jgTextCopp pt-3">Returns</h5>
                            <p class="jgTextDark font-weight-bold">Should you find yourself less than satisifed, or perhaps even at worst, unquestionably peeved about the booze you've purchased, here's what needs to happen:</p>
                            <hr>
                            <h2 class="jgTextDark font-weight-bold pt-3">Well let's be real, nothing's going to happen, because you can't <em>buy</em> <strong>BAD</strong> Gin from us!</h2>
                            <hr>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h2 class="jgTextDark font-weight-bold pt-3 text-right">I mean, did you read our 'About' page. We get drunk on your behalf - <br>for a <em>living</em>.</h2>
                            <hr>
                            <p class="jgTextDark font-weight-bold">
                                But really, if something's not right please contact us by any of the following methods 
                                <a href="{% url 'about' %}">here</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}