/* HTML Elements */

html {
    height: 100%;
}

body {
    background: url('/static/img/basehero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* ------ Font Styles */

h1, h2, h3 {
    font-family: "Spartan", sans-serif;
    font-weight: 200;
}

h4, h5, h6 {
    font-family: "Spartan", sans-serif;
}

p, th, td, input {
    font-family: "Quicksand", sans-serif;
}


/* ------ Links */

a {
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
}

/* Custom CSS */

/* ------ Links */

.jgLink:hover {
    background: none;
    color: #F7DBA7;
    text-decoration: none;
}

.jgListLink {
    color: #F7DBA7;
}

.jgListLink:hover {
    color:#C57B57;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.dropdown-item:hover {
    font-weight: bold;
}

.jgSmImage {
    height: 350px !important;
    width: auto;
}

#jgAboutImg {
    position: absolute;
    top: 0;
    left: 0;
    background: url('/static/img/abouthero.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    z-index: -99999;
    padding: 0;
    margin: 0;
}

#jgContactImg {
    position: absolute;
    top: 0;
    left: 0;
    background: url('/static/img/contacthero.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    z-index: -99999;
    padding: 0;
    margin: 0;
}

/* ------ Alignment  */

.jgMidHeight {
    margin-top: 8rem;
}

.jgHeight {
    margin-top: 15rem;
    margin-right: 2rem;
}

/* ------ Text Colours */

.jgTextDark {
    color: #041F1E;
}

.jgTextLight {
    color: #F7DBA7;
}

.jgTextCopp {
    color: #C57B57;
}

.jgTextGrn {
    color: #20C997;
}

.jgTextRed {
    color: #DC3545;
}

.jgTextWh {
    color: #FAFAFA;
}

.jgTextBlue {
    color: #3DD5F3;
}

.opacity {
    opacity: 0.8;
}

/* ------ Background Colours */

.jgBGDark {
    background-color: #041F1E;
}

.jgBGLight {
    background-color: #F7DBA7;
}

.jgBG {
    background-color: #FAFAFA;
}

.jgBGGrn {
    background-color: #20C997;
}

.jgBGBlue {
    background-color: #3DD5F3;
}

.jgBGRed {
    background-color: #20C997;
}

.jgBGBlk {
    background-color: #262730;
}

.jgBGCopp {
    background-color: #C57B57;
}

/* ------ Buttons */

.jgIcon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.jgBtn {
    background-color: #C57B57;
    border-color: #C57B57;
    color: #041F1E;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
}

.jgBtn:hover {
    background-color: #F7DBA7;
    border-color: #F7DBA7;
    color: #C57B57;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input[name='q']::placeholder {
    color: #041F1E;
}

/* ------ Toasts */

.jgToastCont {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999999999
}

.jgToast {
    overflow: visible;
    z-index: 999999999999999
}

.jgTCap {
    height: 2px;
    z-index: 999999999999999
}

.jgCartNotWr {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------ Allauth Formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #041F1E;
}

.allauth-form-inner-content input {
    border-color: #041f1e;
    border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #041F1E;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    color: #F7DBA7;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #C57B57;
    border: 1px solid #C57B57;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;

    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #C57B57;
    background-color: #F7DBA7;
    border-color: #F7DBA7;
}

.allauth-form-inner-content a {
    color: #F7DBA7;
}
