{% load static %}
<li class="list-inline-item float-left">
    <a href="{% url 'home' %}">
        <img src="{% static 'img/favicon.ico'%}" class="jgLink d-block d-lg-none" width="30px" height="auto" alt="">
    </a>
</li>
<li class="list-inline-item dropdown">
    <a class="d-block d-lg-none jgLink" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg jgTextCopp"></i></div>
            <p class="my-0 jgTextCopp small">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu bg-transparent border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="#" class="dropdown-item jgLink">Product Management</a>
            {% endif %}
                <a href="#" class="dropdown-item jgLink">My Account</a>
                <a href="#" class="dropdown-item jgLink">Logout</a>
            {% else %}
                <a href="#" class="dropdown-item jgLink">Register</a>
                <a href="#" class="dropdown-item jgLink">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}jgTextCopp font-weight-bold{% else %}jgTextDark{% endif %} jgLink d-block d-lg-none jgLink" href="{% url 'view_cart' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg jgTextCopp"></i></div>
            <p class="my-0 jgTextCopp">
                {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>