<div class="collapse navbar-collapse" id="navigation">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown p-2">
            <a class="font-weight-bold jgListLink jgTextCopp mr-5 p-2 rounded" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 jgTextCopp" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item p-2">
            <a href="{% url 'about' %}" class="font-weight-bold jgListLink jgTextCopp mr-5 p-2 rounded"> About</a>
        </li>

        <li class="nav-item p-2">
            <a href="{% url 'info' %}" class="font-weight-bold jgListLink jgTextCopp mr-5 p-2 rounded"> Info</a>
        </li>

        <li class="nav-item p-2">
            <a href="{% url 'blog' %}" class="font-weight-bold jgListLink jgTextCopp mr-5 p-2 rounded"> Blog</a>
        </li>
    </ul>
</div>